@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x:hidden;
}

.vertical-line-with-dots {
  position: relative;
  height:180px;
  margin:0px 0px 0px 20px;
  bottom:0px;
  border: 1px #f6f6f6 solid;
  /* margin-left:20px */
}
.vertical-line-with-dots:last-child {
  position: relative;
  border: 0px;
}

/* .vertical-line-with-dots::before, */
.vertical-line-with-dots::after
 {
  content: '';
  position: absolute;
  padding:6px;
  left: 50%;
  top:10px;
  width: 8px;
  height: 8px;
  z-index:3;
  background-color: #f05836;
  border-radius: 100%;
  transform: translateX(-50%);
}

.vertical-line-with-dots::before {
  top: -5px;
}

.vertical-line-with-dots::after {
  bottom: -5px;
}
