@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-line-with-dots {
  position: relative;
  border: 1px #f6f6f6 solid;
}
.vertical-line-with-dots:last-child {
  position: relative;
  border: 0px;
}

.vertical-line-with-dots::before,
.vertical-line-with-dots::after
 {
  content: '';
  position: absolute;
  left: 50%;
  width: 8px;
  height: 8px;
  z-index:3;
  background-color: #f05836;
  border-radius: 50%;
  transform: translateX(-50%);
}

.vertical-line-with-dots::before {
  top: -5px;
}

.vertical-line-with-dots::after {
  bottom: -5px;
}
